<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>partner</key>
	<string>1016032597</string>
	<key>apikey</key>
	<string>0f51fbb6b0ff749ca55cecde40b9831a</string>
</dict>
</plist>
